#container {
  padding: 10px;
  width: 500px;
  margin: 100px auto;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #form-title {
      margin: 0 auto 5px auto;
      font-size: 30px;
      font-weight: bold;
    }

    .input-container {
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      label {
        margin: 10px 0 30px 0;
        font-size: 25px;
      }

      input {
        font-size: 22px;
      }
    }

    #form-message {
      color: red;
      font-size: 22px;
      margin: 10px auto;
    }

    #buttons-container {
      #create-button {
        margin: 15px auto;
        font-size: 25px;
        height: 50px;

        &:disabled {
          $background-colour: grey;
        }
      }
    }
  }
}
