@use "../../../../styles/mixins.scss";

#container {
  margin: 0;
  padding: 20px;

  #title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  #search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px auto;
    width: 500px;
    box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.2);

    input {
      font-size: 25px;
      flex: 0.5;
      transform: translateY(-8px);
    }
  }

  #spinner-holder {
    text-align: center;
    margin-top: 50px;
  }

  #grid-container {
    @include mixins.userGridMixin;
  }

  #message {
    margin: 50px auto;
    font-size: 22px;
    color: black;
    text-align: center;
  }
}
