<div id="container">
  <h1 id="title">SEARCH FOR A USER</h1>

  <div id="search-bar" class="card">
    <clr-icon shape="search" size="36"></clr-icon>
    <input
      #searchInput
      clrInput
      placeholder="Enter a username or role"
      required
    />
  </div>

  <div id="spinner-holder">
    <clr-spinner clrMedium *ngIf="isLoading">Loading data</clr-spinner>
  </div>

  <ng-container
    *ngIf="UsersFound.length > 0; then displayUsers; else noUsersFound"
  >
  </ng-container>

  <ng-template #displayUsers>
    <div id="grid-container">
      <user-component
        *ngFor="let user of UsersFound"
        [user]="user"
        (eventEmitter)="findAndDisplayUsers()"
      ></user-component>
    </div>
  </ng-template>

  <ng-template #noUsersFound>
    <div id="message">{{ message }}</div>
  </ng-template>
</div>
