#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.2);
  }

  h1 {
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 200px;
    text-align: center;
  }

  #buttons-container {
    margin: 20px auto;

    button {
      font-size: 20px;
      height: 50px;
      width: 120px;
    }
  }
}
