#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.2);
  height: 280px;
  max-width: 400px;

  &:hover {
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.2);
    transition: ease-out 100ms;
  }

  .alert {
    margin: 0;
    width: 100%;
  }

  .alert-text {
    text-align: center;
  }

  h1 {
    text-overflow: ellipsis;
    max-height: 1.5em;
    line-height: 1.5em;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }

  #buttons-container {
    margin: 20px auto;

    button {
      font-size: 20px;
      height: 50px;
      width: 120px;
    }
  }
}
