#container {
  margin: 0;
  background-color: rgb(32, 32, 32);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  #app-title {
    font-size: 25px;
    flex: 1;
    margin: auto 2%;
    color: white;
    font-weight: bold;
  }

  #navbar-list-box {
    flex: 1;

    ul {
      list-style-type: none;
      padding: 0.5%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      li {
        display: block;
        font-size: 20px;
        padding: 0.3%;
        margin: auto 1%;
        float: right;

        a {
          color: white;
          text-decoration: none;

          &:hover {
            color: rgb(61, 214, 0);
            cursor: pointer;
          }
        }
      }
    }
  }
}
