@use '../../../../styles/mixins.scss';

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #form-title {
    margin: 0;
    font-size: 30px;
  }

  .input-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    label {
      margin: 10px 0 30px 0;
      font-size: 25px;
    }

    input {
      font-size: 22px;
    }
  }

  #access-container {
    margin: 10px auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 22px;
    color: black;
  }

  #form-message {
    @include mixins.formMessageMixin;
  }

  #buttons-container {
    button {
      margin: 15px 10px;
      font-size: 22px;
      height: 50px;
    }

    #confirm-button {
      &:disabled {
        $background-colour: grey;
      }
    }
  }
}
