@use "../../../../styles/mixins.scss";

#container {
  margin: 0;
  padding: 20px;

  #title {
    text-align: center;
    font-weight: bold;
  }

  #grid-container {
    @include mixins.userGridMixin;
  }

  #message {
    text-align: center;
    font-size: 25px;
    color: black;
  }
}
