#container {
  margin: 0;
  padding: 20px;
  height: 100%;

  #title {
    text-align: center;
    font-weight: bold;
  }

  #grid-container {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px 30px;
  }

  #message {
    text-align: center;
    font-size: 25px;
    color: black;
  }
}
