/* You can add global styles to this file, and also import other style files */

html,
body {
  font-family: "Rowdies", cursive;
  overflow-x: hidden;
  height: 100%;

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar-thumb {
    background-color: white;
    outline: 5px solid azure;
  }
}
